# Ignore development directories
.dev-assets
.vscode
node_modules
vendor

# Ignore development files
.editorconfig
.markdownlint-cli2.jsonc
.prettierignore
.shellcheckrc
composer.json
composer.lock
eslint.config.js
lefthook.yml
package-lock.json
package.json
phpcs.xml
phpstan.neon
prettier.config.js
